@font-face {
  font-family: "Lilita One";
  src: url(../assets/fonts/Lilita_One/LilitaOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Light";
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-LightItalic";
  src: url(../assets/fonts/Poppins/Poppins-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(../assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Black";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
.blogpost-page .blogpost {
  color: white;
  width: 100%;
  margin: 140px 0 160px 0;
  margin-bottom: 100px;
}
@media only screen and (min-width: 768px) {
  .blogpost-page .blogpost {
    max-width: 80%;
  }
}
@media only screen and (min-width: 992px) {
  .blogpost-page .blogpost {
    width: 900px;
  }
}
.blogpost-page .blogpost__button {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 10px 15px;
  gap: 20px;
  border-radius: 16px;
  margin-bottom: 20px;
  font-family: "Poppins-Regular";
  font-size: 1.125rem;
  text-decoration: none;
}
.blogpost-page .blogpost__button svg {
  transition: all 0.2s ease-in-out;
}
.blogpost-page .blogpost__button:hover svg {
  margin-left: -5px;
  margin-right: 5px;
}
.blogpost-page .blogpost__titlecontainer {
  margin-top: 10px;
  margin-bottom: 30px;
}
.blogpost-page .blogpost__titlecontainer__title {
  font-family: "Poppins-Bold";
  font-size: 2.5rem;
  line-height: 120%;
  margin-bottom: 5px;
}
@media only screen and (min-width: 992px) {
  .blogpost-page .blogpost__titlecontainer__title {
    font-size: 3rem;
  }
}
.blogpost-page .blogpost__titlecontainer__info {
  font-family: "Poppins-Regular";
  font-size: 1rem;
  text-transform: capitalize;
}
.blogpost-page .blogpost__content p {
  font-family: "Poppins-Regular";
  font-size: 1rem;
  line-height: 150%;
}
@media only screen and (min-width: 992px) {
  .blogpost-page .blogpost__content p {
    font-size: 1.125rem;
  }
}
.blogpost-page .blogpost__content h1, .blogpost-page .blogpost__content h2 {
  margin-top: 20px;
  font-family: "Poppins-Bold";
  font-size: 1.875rem;
  line-height: 150%;
}
@media only screen and (min-width: 992px) {
  .blogpost-page .blogpost__content h1, .blogpost-page .blogpost__content h2 {
    font-size: 2rem;
  }
}
.blogpost-page .blogpost__breakline {
  margin: 50px 0 20px 0;
  width: 100%;
  height: 1px;
  background-color: white;
  border: none;
}
.blogpost-page .blogpost__authorcontainer {
  display: flex;
  align-items: center;
  gap: 15px;
}
.blogpost-page .blogpost__authorcontainer img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
}
.blogpost-page .blogpost__authorcontainer__info {
  font-size: 1rem;
}
@media only screen and (min-width: 992px) {
  .blogpost-page .blogpost__authorcontainer__info {
    font-size: 1.125rem;
  }
}
.blogpost-page .blogpost__authorcontainer__info p:nth-child(-n+1) {
  font-family: "Poppins-Bold";
}