@use './variables.scss' as v;


html {
    font-family: 'Poppins-Regular', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

body {
    background-color: v.$blue;
}


.navcontainer {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px v.$margin-mobile;
    pointer-events: none;
    z-index: 9999;

    @media only screen and (min-width:v.$lg){
        padding: 20px v.$margin-desktop;
    }

    &__logo {
        width: 50px;
        pointer-events: all;

        @media only screen and (min-width:v.$lg){
            width: 65px;
        }
    }

    &__hamburger-menu {
        position: relative;
        width: 45px;
        height: 33.75px;
        transform: rotate(0deg);
        pointer-events: all;
        cursor: pointer;
        transition: .5s ease-in-out;

        span {
            background-color: white;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6.75px;
            border-radius: 9px;
            opacity: 1;
            transform: rotate(0deg);
            transform-origin: left center;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0px;
            }
            &:nth-child(2) {
                top: 13.5px;
            }
            &:nth-child(3) {
                top: 27px;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: -3px;
                    left: 8px;
                }
                &:nth-child(2) {
                    width: 0%;
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 29.25px;
                    left: 8px;
                }
            }
        }
    }
}

.dim-screen {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.8);
    opacity: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    transition: all .3s ease-in-out;
    pointer-events: none;
}

.navmenu {
    background-color: v.$red;
    position: fixed;
    top: 0;
    right: -100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 120px;
    z-index: 1000;

    width: 100vw;
    height: 100vh;
    padding: 15px v.$margin-mobile;
    color: white;
    transition: all .3s ease-in-out;

    @media only screen and (min-width:v.$lg){
        right: -600px;
        width: 600px;
        padding: 35px v.$margin-desktop;
    }

    &__toptext {
        font-family: 'Poppins-Regular';
        font-size: 1.125rem;
        text-align: center;
        width: 50%;
        margin-top: 15px;
        margin-left: 25%;

        @media only screen and (min-width:v.$lg){
            font-size: 1.25rem;
            text-align: start;
            width: auto;
            margin-top: 0;
            margin-left: 0;
        }
    }

    &__linkscontainer {
        flex: 1;

        &__link {
            position: relative;
            display: flex;
            align-items: flex-start;
            width: fit-content;
            margin-top: 10px;

            color: white;
            font-family: 'Poppins-Bold';
            font-size: 1.875rem;
            line-height: 80%;
            text-decoration: none;
            transition: all .2s ease-in-out;

            @media only screen and (min-width:v.$lg){
                font-size: 2.5rem;
            }

            &:hover {
                margin-left: 10px;

                h2 {
                    text-decoration: underline;
                }
            }

            span {
                font-family: 'Poppins-Regular';
                font-size: 1rem;
            }

            div {
                width: 25px;
                align-self: flex-end;
                margin-bottom: 8px;

                @media only screen and (min-width:v.$lg){
                    width: 40px;
                    margin-bottom: 10px;
                }

                svg {
                    width: 20px;
                    height: 20px;

                    @media only screen and (min-width:v.$lg){
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
    }

    &__bottomcontainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        p {
            font-family: 'Poppins-Regular';
            font-size: 1rem;
        }

        &__socials {
            display: flex;
            gap: 15px;

            a svg {
                width: 34px;
                height: 34px;
                transition: all .15s ease-out;
                fill: white;

                &:hover {
                    margin-top: -3px;
                    margin-bottom: 3px;
                }
            }
        }
    }
}


.footercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px v.$margin-mobile;
    color: white;
    font-family: 'Poppins-Regular';
    font-size: 0.93rem;

    @media only screen and (min-width:v.$lg){
        margin: 5px v.$margin-desktop;
    }
}

.button {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 15px;
    gap: 20px;
    border-radius: 16px;

    font-family: 'Poppins-Regular';
    font-size: 1rem;
    text-decoration: none;

    @media only screen and (min-width:v.$lg){
        font-size: 1.125rem;
    }

    svg {
        transition: all .2s ease-in-out;
    }

    &--left {
        &:hover {
            svg {
                margin-left: -5px;
                margin-right: 5px;
            }
        }
    }

    &--right {
        &:hover {
            svg {
                margin-left: 5px;
                margin-right: -5px;
            }
        }
    }
}

.pagination {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @media only screen and (min-width:v.$lg){
        margin-top: 60px;
    }

    a {
        opacity: 0;
        pointer-events: none;
    }

    span {
        flex: 1;
        color: white;
        text-align: center;
    }
}

.blogpost-page {
    .navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;

        @media only screen and (min-width:v.$md){
            flex-direction: row;
        }

        @media only screen and (min-width:v.$lg){
            gap: 40px;
        }

        &__button {
            background-color: white;
            flex: 1;
            display: flex;
            gap: 20px;
            // padding: 20px 25px;
            border-radius: 16px;
            text-decoration: none;
            color: black;
            opacity: 0;
            pointer-events: none;
            max-height: 0px; 
            padding: 0;

            &__svg {
                display: none;
                transition: all .2s ease-in-out;

                @media only screen and (min-width:v.$lg){
                    display: block;
                }
            }

            &--previous {
                text-align: end;

                &:hover {
                    svg {
                        margin-left: -10px;
                        margin-right: 10px;
                    }
                }
            }

            &--next {
                &:hover {
                    svg {
                        margin-left: 10px;
                        margin-right: -10px;
                    }
                }
            }

            &__textcontainer {
                flex: 1;

                &__topcontainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: 'Poppins-Regular';
                    font-size: 1rem;
                    color: v.$blue;
                    margin-bottom: 20px;

                    @media only screen and (min-width:v.$lg){
                        font-size: 1.125rem;
                    }

                    p {
                        width: 100%;
                    }

                    svg {
                        display: block;
                        width: 25px;
                        height: 25px;
                        transition: all .2s ease-in-out;
        
                        @media only screen and (min-width:v.$lg){
                            display: none;
                        }

                        path {
                            fill: v.$blue;
                        }
                    }
                }

                &__title {
                    font-family: 'Poppins-Bold';
                    font-size: 1.875rem;
                    margin-bottom: 10px;

                    @media only screen and (min-width:v.$lg){
                        font-size: 2rem;
                    }
                }

                &__summary {
                    font-family: 'Poppins-Regular';
                    font-size: 1rem;

                    @media only screen and (min-width:v.$lg){
                        font-size: 1.125rem;
                    }
                }
            }
        }
    }
}